version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: api_client_postgres
    environment:
      POSTGRES_DB: api_client
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: api_client_redis
    ports:
      - "6379:6379"

  app:
    build: .
    container_name: api_client_app
    ports:
      - "3000:3000"
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: api_client
      REDIS_HOST: redis
      REDIS_PORT: 6379
      LOG_DB_QUERIES: "false"
      REQUEST_TIMEOUT: 60000
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run start:dev
    depends_on:
      - postgres
      - redis
    restart: unless-stopped

volumes:
  pg_data:
