version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: api_client_postgres
    environment:
      POSTGRES_DB: api_client
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: api_client_redis
    ports:
      - "6379:6379"

volumes:
  pg_data:
